<% @restaurants.each do |restaurant| %>
  <div class="col-sm-4">
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <small>[<%= restaurant.category.name %>]</small>
    <p><%= truncate(restaurant.description, length: 80) %></p>
  </div>
<% end %>

<%= paginate @restaurants %>
