/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.nav-pills-center{
  text-align: center;
}
.nav-pills-center > li{
  float: none;
  display: inline-block;
}
.restaurant-item{
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: hidden;
  height: 340px;
}

.restaurant-item img {
  max-height: 200px;
  width: 100%;
}

.restaurant-item .caption{
  padding: 10px;
}
.ranking-item{
  margin-bottom: 15px;
}
